body {
    background-color: #5b6a6a;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    }
    

    .obwod {
      border: 1px solid transparent;
      padding: 40px;
      border-radius: 20px;
      background-color: rgba(109, 141, 149, 0.91);
      
             }

    .odtwarzacz  {
        flex-direction: column;
        justify-content: center;
        height: 95vh;
        display: flex;
        align-items: center;
        
             }

.current-time,
.total-duration {
    font-size: 1.1rem;
}

.search {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
    background-color: #7b9ea7;
    outline: none;
    transition: border-color 0.2s;
            }

.search::placeholder 
{
    color: #192735;
}

.search:focus {
    border-color: #007bff;
}


    .funkcje    
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .okladka {
        margin: 25px;
        width: 400px;
        height: 240px; 
        border: 2px solid #000000;
        background-size: cover;
        background-position: center;
        -moz-box-shadow: 0px 6px 5px black;
        -webkit-box-shadow: 0px 6px 5px black;
        box-shadow: 0px 6px 5px black;
            }

    
    .now-playing {
        font-size: 1.25rem;
        text-align: center; 
        margin-top: 10px;
    }
    
    .nazwa-utw {
        font-size: 2.5rem;
    }
    
    .artysta {
        margin-top: 5px;
        font-size: 1.5rem;
    }
    
    .button {
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center;
        margin-bottom: 30px;
}

    .active{
        color: black;
    }
    
    .powtorz,
    .losowy,
    .play,
    .poprzedni-utwor,
    .nastepny-utwor {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
    }
    
    .powtorz:hover,
    .losowy:hover,
    .play:hover,
    .nastepny-utwor:hover,
    .poprzedni-utwor:hover
    {
    opacity: 1.0;
    }
    
    .slider {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .seek_slider, 
    .vol_slider {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 5px;
        background: #5a4a4a;
        -webkit-transition: .2s;
        transition: opacity .2s;
        border-radius: 10px;
    }
    

    
    .seek_slider:hover,
    .vol_slider:hover {
    opacity: 1.0;
    }
    
    .seek_slider {
    width: 60%;
    }
    
    .vol_slider {
    width: 30%;
    }

.losowy {
    color: #000; 
}
    .current-time,
    .total-duration,
    i.fa-volume-high {
    padding: 10px;
    }
    
   
   
    
    i,
    i.fa-play,
    i.fa-pause,
    i.fa-backward-step,
    i.fa-forward-step,
    p {
    cursor: pointer;
    }
   


    i.fa-backward-step,
    i.fa-forward-step,
    i.fa-shuffle,
    i.fa-play,
    i.fa-repeat,
    i.fa-pause {
        font-size: 2rem; 
        
    }    
    
    


.seek_slider::-webkit-slider-thumb,
.vol_slider::-webkit-slider-thumb,
.seek_slider::-moz-range-thumb,
.vol_slider::-moz-range-thumb {
    border-radius: 50%; 
}



.seek_slider::-webkit-slider-thumb,
.vol_slider::-webkit-slider-thumb,
.seek_slider::-moz-range-thumb,
.vol_slider::-moz-range-thumb {
    cursor: pointer; 
}

.seek_slider::-webkit-slider-thumb,
.vol_slider::-webkit-slider-thumb,
.seek_slider::-moz-range-thumb,
.vol_slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
