body {
    background: linear-gradient(to right,#463649, #2d0535);
    font-family: sans-serif ;
    font-weight: bold;
    }
    

    .wrapper {
      border: 1px solid transparent;
      padding: 40px;
      border-radius: 20px;
      background-color: #6d8d95;
      
             }

    .odtwarzacz  {
        flex-direction: column;
        justify-content: center;
        height: 95vh;
        display: flex;
        align-items: center;
        
             }

    .search-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
                     }

.search {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
    background-color: #7b9ea7;
    outline: none;
    transition: border-color 0.2s;
            }

.search::placeholder 
{
    color: #192735;
}

.search:focus {
    border-color: #007bff;
}


    .details    
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .track-art {
        margin: 25px;
        width: 400px;
        height: 240px; 
        border: 2px solid #000000;
        background-size: cover;
        background-position: center;
        -moz-box-shadow: 0px 6px 5px black;
        -webkit-box-shadow: 0px 6px 5px black;
        box-shadow: 0px 6px 5px black;
            }

    
    .now-playing {
        font-size: 1.25rem;
        text-align: center; 
        margin-top: 10px;
    }
    
    .track-name {
        font-size: 2.5rem;
    }
    
    .track-artist {
        margin-top: 5px;
        font-size: 1.5rem;
    }
    
    .button {
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center;
        margin-bottom: 30px;
}

    .active{
        color: black;
    }
    
    .repeat-track,
    .random-track,
    .playpause-track,
    .prev-track,
    .next-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
    }
    
    .repeat-track:hover,
    .random-track:hover,
    .playpause-track:hover,
    .prev-track:hover,
    .next-track:hover
    {
    opacity: 1.0;
    }
    
    .slider_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .seek_slider, .volume_slider {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 5px;
        background: #5a4a4a;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    
    .seek_slider::-webkit-slider-thumb,
    .volume_slider::-webkit-slider-thumb 
    {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #652e78;
    cursor: grab;
    border-radius: 100%;
    }
    
    .seek_slider:hover,
    .volume_slider:hover {
    opacity: 1.0;
    }
    
    .seek_slider {
    width: 60%;
    }
    
    .volume_slider {
    width: 30%;
    }

.shuffle-button {
    color: #000; 
}
    .current-time,
    .total-duration,
    i.fa-volume-high {
    padding: 10px;
    }
    
   
   
    
    i,
    i.fa-play,
    .volume_slider,
    .seek_slider,
    i.fa-pause,
    i.fa-backward-step,
    i.fa-forward-step,
    p {
    cursor: pointer;
    }
   


    i.fa-backward-step,
    i.fa-forward-step,
    i.fa-shuffle,
    i.fa-play,
    i.fa-repeat,
    i.fa-pause {
        font-size: 2rem; 
        
    }    
    
    

    
