body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #9a1d86, #1595be);
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    background-color: #ddd;
    box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0px 15px 12px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.track-art {
    margin: 25px;
    width: 250px; /* Set the desired width */
    height: 350px; /* Set the desired height */
    border: 2px solid #FFFAFA;
    background: center / cover no-repeat;
    box-shadow: 0px 6px 5px black;
}


.now-playing {
    font-size: 1rem;
}

.track-name {
    font-size: 2.5rem;
}

.track-artist {
    margin-top: 5px;
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0;
}

.buttons i {
    padding: 25px;
    opacity: 0.8;
    transition: opacity 0.2s;
    cursor: pointer;
}

.buttons i:hover {
    opacity: 1.0;
}

.slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.seek_slider,
.volume_slider {
    appearance: none;
    height: 5px;
    background: #83A9FF;
    transition: opacity 0.2s;
    width: 60%;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #3774FF;
    cursor: grab;
    border-radius: 100%;
}

.seek_slider:hover,
.volume_slider:hover {
    opacity: 1.0;
}

.current-time,
.total-duration,
i.fa-volume-down,
i.fa-volume-up {
    padding: 10px;
}

.randomActive, .active {
    color: black;
}

.rotate {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stroke {
    background: #f1f1f1;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1.4s linear infinite;
}

@keyframes animate {
    50% {
        height: 20%;
        background: #4286f4;
    }
    100% {
        background: #4286f4;
        height: 100%;
    }
}

.stroke:nth-child(1) {
    animation-delay: 0s;
}

.stroke:nth-child(2) {
    animation-delay: 0.3s;
}

.stroke:nth-child(3) {
    animation-delay: 0.6s;
}

.stroke:nth-child(4) {
    animation-delay: 0.9s;
}

.stroke:nth-child(5) {
    animation-delay: 0.6s;
}

.stroke:nth-child(6) {
    animation-delay: 0.3s;
}

.stroke:nth-child(7) {
    animation-delay: 0s;
}
